.sunny,
.rain,
.night,
.cloudy,
.mostlysunny,
.clear,
.thunderstorm,
.failedScreen {
    background-size:cover;
}

.sunny,
.rain,
.night,
.mostlysunny,
.clear,
.thunderstorm,
.failedScreen{
    color:#fff;
}

.cloudy {
    color:#000;
}

.sunny,
.mostlysunny{
	background-image: url('../img/sunny.jpg');
}

.rain{
	background-image: url('../img/rain.jpg');
}

.night{
	background-image: url('../img/night.jpg');
}
.cloudy{
	background-image: url('../img/cloudy3.jpg');
}
.clear{
	background-image: url('../img/clear.jpg');
}
.thunderstorm{
	background-image: url('../img/thunderstorm.jpg');
}
.failedScreen{
	background-image: url('../img/missing.jpg');
}